:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424
}

.App {
    height: 100vh;
    width: 100vw;
}

/* --------------- Computer --------------- */
@media screen and (min-width: 768px) {
    .main {
        height: 60vh;
        width: 60vh;
        background-color: #F7879A;
    }
    .monke {
        max-width: 200px;
    }

}

/* --------------- Mobile --------------- */
@media screen and (max-width: 768px) {
    .main {
        height: 100vh;
        background-color: #F7879A;
        padding-bottom: 5rem;
    }
    .monke {
        width: 200px;
        max-height: 300px;
    }
    .monke-container {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
